#txt-input{
    display: block;
    height: 10vh;
    width: 70%;
    margin: 2rem;
    padding:1rem;
}

#output{
    border: 2px solid black;
    height: 10vh;
    width: 70%;
    margin: 2rem;
    padding:1rem;
}
#btn-translate{
 color:black;
 background-color: yellow;
}